@import "../../../app/_styles/variables/breakpoints.scss";

.HomePage{
  position: relative;

  &__wrapper{
    padding: 82px 150px 0;

    @include tablet{
      padding: 82px 60px 0;
    }

    @include tablet{
      padding: 50px 16px 0;
    }
  }

  &__our-services-text{
    text-align: center;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-400);
    color: var(--color-gray);
  }

  &__services-title{
    max-width: 842px;
    margin: 20px auto 0;
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-400);
    color: var(--color-black);
    line-height: var(--font-line-72);


    @include mobile{
      font-size: var(--font-size-28);
      line-height: var(--font-line-36);
    }
  }

  &__services-list{
    max-width: 1200px;
    margin: 80px auto 0;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile{
      margin: 25px auto 0;
      flex-direction: column;
    }

    &-item{
      max-width: 300px;

      @include mobile{
        max-width: 100%;
      }

      img{
        width: 100%;
      }

      h3{
        margin-top: 24px;
        font-size: var(--font-size-24);
        font-weight: var(--font-weight-400);
        color: var(--color-black);
        margin-bottom: 15px;
      }

      p{
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-400);
        color: var(--color-gray);
      }

      a{
        margin-top: 28px;
        align-items: center;
        gap: 12px;
        text-underline-offset: 10px;
        position: relative;
        display: inline-flex;

        font-size: var(--font-size-20);
        font-weight: var(--font-weight-700);
        color: var(--color-dark-blue);

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -10px;
          width: 100%;
          height: 1px;
          background: currentColor;
          opacity: 0.7;
        }

        &:hover{
          transition: var(--hover-duration);
          opacity: 0.8;
        }
      }
    }
  }

  &__connect-customers{
    max-width: 1200px;
    margin: 185px auto 0;
    display: flex;
    flex-direction: column;
    gap: 120px;

    @include tablet{
      margin: 70px auto 0;
      gap: 60px;
    }

    &-item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      @include mobile{
        flex-direction: column-reverse;;
      }

      &:nth-of-type(2){
        display: flex;
        flex-direction: row-reverse;

        @include mobile{
          flex-direction: column-reverse;
        }
      }

      &-img-section{
        position: relative;
        min-height: 700px;

        &-chart{
          background: var(--color-white);
          padding: 23px;
          border-radius: var(--border-radius-12);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -15%);
          height: 55%;
          max-width: 291px;
          box-shadow: var(--box-shadow);
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          @include mobile{
            height: 50%;
            width: 260px;
            left: 45%;
          }
        }
      }

      h2{
        max-width: 493px;
        font-family: Manrope, sans-serif;
        font-size: var(--font-size-36);
        font-weight: var(--font-weight-400);
        line-height: var(--font-line-56);
        color: var(--color-black);
        margin-bottom: 40px;

        @include mobile{
          font-size: var(--font-size-28);
          line-height: var(--font-line-36);
          max-width: 100%;
        }
      }

      &-content{
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 56px;

        li{
          display: flex;
          align-items: center;
          gap: 27px;

          span{
            background: var(--color-dark-blue);
            padding: 10px;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            svg{
              height: 24px;
              width: 24px;
            }
          }
        }
      }

      &-button{
        max-width: 210px;

        @include mobile{
          max-width: 100%;
        }
      }

      &-second-block{
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-item{
          padding: 20px 16px;
          border-radius: var(--border-radius-4);
          background: var(--color-white);
          box-shadow: var(--box-shadow);

          p{
            display: flex;
            align-items: center;
            gap: 12px;

            font-size: var(--font-size-16);
            font-weight: var(--font-weight-600);
            color: var(--color-dark-blue);
          }

          &:hover {
            transition: var(--hover-duration);
            background-color: var(--color-dark-blue);

            p {
              color: var(--color-white);
            }

            svg, path {
              stroke: var(--color-white);
            }
          }
        }
      }
    }
  }

  &__testimonials{
    margin-top: 120px;
    padding: 100px;
    background: var(--color-dark-blue);

    @include tablet{
      padding: 60px 16px;
    }

    @include mobile{
      margin-top: 30px;
    }

    &-header{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 56px;

      @include mobile{
        justify-content: space-between;
      }

      &-title{
        max-width: 716px;
        font-family: Manrope, sans-serif;
        font-size: var(--font-size-48);
        font-weight: var(--font-weight-400);
        line-height: var(--font-line-72);
        color: var(--color-white);

        @include mobile{
          font-size: var(--font-size-28);
          line-height: var(--font-line-36);
        }
      }

      &-arrows{
        display: flex;
        align-items: center;
        gap: 28px;

        @include mobile{
          gap: 15px;
        }

        &-slider-arrow{
          background-color: var(--color-white);
          padding: 18px;
          border-radius: 50%;

          &:hover{
            transition: var(--hover-duration);
            opacity: 0.8;
            cursor: pointer;
          }

          @include mobile{
            padding: 10px;
          }
        }

        &-slider-arrow-left{
          transform: rotate(180deg);
        }

        &-slider-arrow-disabled {
          cursor: not-allowed;
          background: var(--color-white);
          border: 1px solid var(--color-black-separator);
          opacity: 0.5;

          svg, g, path {
            stroke: var(--color-dark-blue);
          }

          &:hover{
            cursor: not-allowed;
            background: var(--color-white);
            opacity: 0.5;

            svg, g, path {
              stroke: var(--color-dark-blue);
            }
          }
        }
      }
    }

    &-content{
      &-item{
        padding: 40px;
        background-color: var(--color-white);
        border-radius: var(--border-radius-12);
        box-shadow: var(--box-shadow-secondary);

        &-main-text{
          color: var(--color-black);
          font-size: var(--font-size-24);
          font-weight: var(--font-weight-400);
          line-height: var(--font-line-36);
          margin-bottom: 40px;
        }

        &-footer{
          display: flex;
          align-items: center;
          gap: 24px;

          &-text{
            display: flex;
            flex-direction: column;
            gap: 6px;

            &-name{
              color: var(--color-dark-blue);
              font-size: var(--font-size-16);
              font-weight: var(--font-weight-700);
            }

            &-role{
              color: var(--color-dark-blue);
              font-size: var(--font-size-14);
              font-weight: var(--font-weight-400);
            }
          }
        }
      }
    }
  }

  &__office-info{
    margin: 124px auto 0;
    padding: 0 100px;

    @include tablet{
      padding: 0 16px;
    }

    @include mobile{
      margin: 70px auto 0;
    }


    &-img{
      width: 100%;
    }

    &-content{
      margin-top: 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 100px;

      @include tablet{
        gap: 20px;
        flex-direction: column;
      }

      &-accordions{
        width: 100%;
      }

      &-title{
        max-width: 500px;
        font-family: Manrope, sans-serif;
        font-size: var(--font-size-36);
        font-weight: var(--font-weight-400);
        line-height: var(--font-line-56);
        color: var(--color-black);

        @include tablet{
          max-width: 100%;
        }

        @include mobile{
          font-size: var(--font-size-28);
          line-height: var(--font-line-36);
        }
      }
    }
  }


  &__our-blog{
    margin-top: 150px;
    padding: 0 150px;

    @include tablet{
      padding: 0 16px;
    }

    @include mobile{
      margin-top: 50px;
    }

    &-title-gray{
      color: var(--color-gray);
      font-size: var(--font-size-20);
      font-weight: var(--font-weight-400);
      text-align: center;
    }

    &-title{
      max-width: 842px;
      color: var(--color-black);
      font-size: var(--font-size-48);
      font-weight: var(--font-weight-400);
      line-height: var(--font-line-72);
      text-align: center;
      margin: 12px auto 0;

      @include mobile{
        font-size: var(--font-size-28);
        line-height: var(--font-line-36);
      }
    }

    &-content-items{
      margin-top: 80px;
      display: grid;
      gap: 50px;
      grid-template-columns: repeat(3, 1fr);

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mobile {
        margin-top: 25px;
        grid-template-columns: repeat(1, 1fr);
      }

      &-item{
        &-img{
          width: 100%;
          margin-bottom: 24px;
        }

        &-header{
          display: flex;
          align-items: center;
          gap: 12px;

          &-category{
            color: var(--color-dark-blue);
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-700);
          }

          &-date{
            color: var(--color-gray);
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-400);
          }
        }

        &-content{
          margin-top: 12px;
          color: var(--color-black);
          font-size: var(--font-size-20);
          font-weight: var(--font-weight-400);
          line-height: var(--font-line-32);
          min-height: 100px;
        }

        &-footer{
          display: flex;
          align-items: center;
          gap: 12px;
          margin-top: 20px;

          img{
            width: 32px;
            height: 32px;
          }

          &-name{
            color: var(--color-black);
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-400);
          }
        }
      }
    }

    &-btn-wrapper{
      text-align: center;
      margin-top: 80px;

      @include mobile{
        margin-top: 25px;
      }

      button{
        width: 219px;

        @include mobile{
          width: 100%;
        }
      }
    }
  }
}