:root{
  --color-white: rgba(255 255 255 / 100%);
  --color-dark-blue: rgba(10 38 64 / 100%);
  --color-green: rgba(101 228 163 / 100%);
  --color-gray: rgba(119 119 119 / 100%);
  --color-black: rgba(0 0 0 / 100%);
}