:root{
  --font-size-20: 20px;
  --font-size-40: 40px;

  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;

  --font-line-24: 24px;
  --font-line-32: 32px;

  --letter-spacing-32: 0.32px;
  --letter-spacing-40: 0.4px;
  --letter-spacing-56: 0.56px;
  --letter-spacing-64: 0.64px;

  --border-radius-12: 12px;
  --border-radius-18: 18px;
  --border-radius-30: 30px;

  --box-shadow: 0px 0px 10px rgba(0 0 0 / 15%);

  /* Sizes */
  --header-height: 98px;
  --header-small-display-height: 80px;
  --header-mobile-height: 53px;
  --sidebar-width: 260px;
  --sidebar-width-collapsed: 88px;
  --mobile-navbar-height: 80px;
  --block-size: 1378px;

  /* Transitions */
  --item-change-duration: 0.25s;
  --hover-duration: 0.15s;
  --hover-timeline-duration: 0.25s;
  --sidebar-collapse-duration: 0.15s;
  --select-collapse-duration: var(--item-change-duration);

  /* Opacity */
  --overlay-opacity: 0.3;
}