@import '../../../app/_styles/variables/breakpoints.scss';

.Header {
  background: var(--color-dark-blue);
  position: relative;
  overflow: hidden;

  &__wrapper {
    padding: 56px 100px 0 100px;

    @include tablet {
      padding: 56px 16px 0 16px;
    }
  }

  &__ellipse {
    position: absolute;
    right: -490px;
    top: -85%;
    transform: rotate(350deg);
    z-index: 0;

    @include mobile {
      top: -100%;
    }
  }

  &__up-section {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo {
      font-family: Manrope, sans-serif;
      font-size: var(--font-size-43);
      font-weight: var(--font-weight-700);
      color: var(--color-white);
      text-decoration: none;
    }

    &-navigation {
      display: flex;
      align-items: center;
      gap: 40px;

      @include tablet {
        display: none;
      }

      &-list {
        display: flex;
        align-items: center;
        gap: 40px;

        &-item {
          a {
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-600);
            color: var(--color-white);

            &:hover {
              transition: var(--hover-duration);
              opacity: 0.8;
            }
          }

          &-button {
            font-size: var(--font-size-16) !important;
            font-weight: var(--font-weight-600) !important;
            border-radius: var(--border-radius-30) !important;
            line-height: inherit !important;
            width: 128px;
          }
        }
      }
    }

    &-navigation-mobile {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      width: 100%;
      background: var(--color-dark-blue);
      transition: right 0.3s ease-out;
      display: flex;
      flex-direction: column;
      z-index: 10;

      &.is-open {
        right: 0;
      }

      &-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-top: 90px;
        margin-bottom: 40px;

        &-item {
          width: 100%;
          border-bottom: 1px solid var(--color-white);

          svg {
            transform: rotate(270deg);
          }

          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-600);
            color: var(--color-white);
            padding: 25px 16px;
            text-transform: uppercase;

            &:hover {
              transition: var(--hover-duration);
              opacity: 0.8;
            }
          }

          &-button {
            font-size: var(--font-size-16) !important;
            font-weight: var(--font-weight-600) !important;
            border-radius: var(--border-radius-30) !important;
            line-height: inherit !important;
            margin: 0 16px;
            text-transform: uppercase;
          }
        }
      }

      &-cross {
        position: absolute;
        right: 30px;
        top: 30px;
      }
    }

    &-menu-toggle {
      display: none;
      background: none;
      border: none;
      color: var(--color-white);
      font-size: var(--font-size-24);
      cursor: pointer;
      z-index: 4;

      @include tablet {
        display: block;
      }
    }
  }

  &__down-section {
    max-width: 1400px;
    position: relative;
    margin: 64px auto 0;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;

    @include tablet {
      justify-content: center;
    }

    h1 {
      max-width: 567px;
      font-family: Manrope, sans-serif;
      font-size: var(--font-size-48);
      font-weight: var(--font-weight-400);
      line-height: var(--font-line-72);
      color: var(--color-white);

      @include mobile {
        font-size: var(--font-size-36);
        line-height: var(--font-line-56);
      }
    }

    p {
      max-width: 567px;
      margin-top: 16px;
      font-size: var(--font-size-16);
      font-weight: var(--font-weight-400);
      line-height: var(--font-line-24);
      color: var(--color-white);
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-top: 40px;

      &-button:first-child {
        width: 247px;

        @include mobile {
          width: 100%;
        }
      }

      &-button:last-child {
        width: 187px;

        @include mobile {
          width: 100%;
        }
      }

      @include mobile {
        flex-direction: column;
      }
    }

    img {
      @include tablet {
        display: none;
      }
    }
  }

  &__swiper {
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    z-index: 0 !important;
    overflow: hidden;

    & > div:first-child {
      transition-timing-function: linear !important;
    }

    &-slide {
      max-width: max-content;
    }

    @include mobile {
      margin-top: 50px;
    }
  }
}

.menu-enter {
  opacity: 0;
}
.menu-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.menu-exit {
  opacity: 1;
}
.menu-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
